.container {
    padding: 0;
}

.content-holder {
    background: #fff;
    max-width: 1230px;
    min-width: 1230px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 45px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    position: relative;
}

.titleArea {
    padding: 15px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #ccc;
}

.titleArea h6,
.titleArea {
    font-weight: 500;
}


/*=================================================================================*/


/* Product images Setting */


/*=================================================================================*/

.product-image {
    max-width: 160px;
    max-height: 170px;
    margin: 0 auto;
}

.thumbnail {
    height: 180px;
    display: flex;
    border: none;
    margin: 0;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    background: transparent;
}

.thumbnail img {
    /*max-height: 220px;*/
    margin: 0 auto;
}

.product {
    padding: 20px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.product:hover {
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.2);
}


/*=================================================================================*/


/* Product info */


/*=================================================================================*/

.prod-content {
    cursor: pointer;
}

.prod-name {
    width: 100%;
    margin-top: 10px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 5px;
    letter-spacing: 0.3px;
}

.prod-name a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #847d7d;
}

.prod-price {
    display: flex;
    margin-top: -5px;
    padding: 0 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

.product-price {
    margin-right: 15px;
    font-size: 16px;
}

.prodOld-price {
    color: #fc6603;
    text-decoration: line-through;
    margin-top: 3px;
}

.prod-slogan {
    padding: 0 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    height: 50px;
    overflow: hidden;
}


/*=================================================================================*/


/* Product info */


/*=================================================================================*/

.wishlist-div {
    margin-left: 5px;
    position: absolute;
    z-index: 1;
}

.wishlist-icon {
    font-size: 22px;
}

.wishlist-icon-saved {
    font-size: 22px;
}

.btn-danger:not(:disabled):not(.disabled):active {
    background-color: transparent;
}

.btn-danger:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*=================================================================================*/


/* Add to Cart */


/*=================================================================================*/

.addToCart {
    width: 100%;
    padding: 4px;
    border: none;
    border-radius: 3px;
    background: #f58509;
    color: #fff;
    cursor: pointer;
}

.addToCart:hover {
    background: #ff9400;
}


/*=================================================================================*/


/* Empty cart */


/*=================================================================================*/

.empty-holder {
    width: 1250px;
    height: 390px;
    overflow: visible;
    border-radius: 3px;
}

.notFound {
    padding: 15px;
    font-size: 18px;
}

.emptyContent {
    text-align: center;
}

.empty-logo {
    color: #aaa;
    font-size: 9em;
}

.empty-heading,
.add-msg {
    margin-bottom: 20px;
}

.empty-heading {
    font-size: 18px;
}

.add-msg {
    font-size: 16px;
}