.content-holder {
    max-width: 1050px;
    /* min-width: 1050px; */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.img-show {
    margin: 0 auto;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.large {
    max-width: 350px;
    max-height: 450px;
    margin: 0 auto;
}

.thumbs {
    float: left;
    margin: 5px 0 0 0;
}

.thumbs ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.thumbs ul li {
    display: inline;
    list-style: none;
}


/*--=======================================================================================*/


/*==================================== New Content ========================================*/


/*=========================================================================================*/

.img-show,
.content-area,
.img-holder,
.price-area,
.galleryImg {
    /* display: flex; */
}

.content-area {
    overflow: hidden;
}

.img-content {
    margin-left: 10px;
    padding: 15px;
}

.img-area {
    /* width: 750px; */
    border-right: 1px solid #ccc;
}

.product-right-slick:hover .slick-prev,
.product-right-slick:hover .slick-next {
    opacity: 0;
}


/*==================================== img gallery ========================================*/

.thumb img,
.thumb {
    width: 65px;
    height: auto;
    padding: 5px;
}


/*Change the colour*/

.active img {
    border: 2px solid black !important;
    width: 100%;
    height: 500px;
    /* border-radius: 3px; */
}

.galleryImg {
    width: 80px;
    height: 70px;
    border: none;
    margin: 1px auto;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    background: transparent;
}


/*==================================== Content Area ========================================*/

.prod-title,
.brand,
.cate,
.other-info,
.loginToreview,
.textarea,
.single-review,
.submitBtn {
    font-family: 'Roboto', sans-serif;
}

.event-name,
.brand span,
.cate span,
.price-area,
.quantity,
.revire-footer {
    font-family: 'Ubuntu', sans-serif;
}

.event-name,
.price,
.old-price {
    font-weight: 500;
}

.upperContent {
    position: relative;
}

.event-name {
    color: #a69a9a;
    font-size: 15px;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
}

.prod-title {
    width: 88%;
    font-size: 18px;
    margin-bottom: 5px;
    overflow: hidden;
}

.wish-heart {
    position: absolute;
    top: 0;
    right: 0;
}

.wishlist-icon,
.wishlist-icon-saved {
    font-size: 22px;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.2);
}

.btn-danger:not(:disabled):not(.disabled):active {
    background-color: transparent;
}

.btn-danger:not(:disabled):not(.disabled):active:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.brand,
.cate {
    margin: 5px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.other-info {
    padding-bottom: 10px;
}

.brand span,
.cate span {
    color: #9e9e9e;
}

.price {
    font-size: 24px;
    margin-right: 10px;
}

.old-price {
    font-size: 18px;
    text-decoration: line-through;
    color: #fc6603;
}

.quantity {
    font-size: 16px;
}

.available,
.delivery,
.pay,
.coupon,
.warranty {
    color: green;
}

.available .fa,
.notAvailable .fa,
.delivery .fa,
.warranty .fa,
.pay .fa,
.coupon .fa,
.prodLeft .fa {
    padding: 8px;
    border-radius: 50%;
}

.notAvailable {
    color: red;
}

.prodLeft {
    color: orange;
}

.infos {
    margin: 15px 0;
    font-size: 18px;
}

.product-buy-cart {
    display: flex;
    margin-top: 10px;
}

.product-buy-cart-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart {
    margin-right: 20px;
}

.addToCart,
.buyNow {
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.addToCart {
    background: #f58509;
    padding: 14px 24px;
}

.addToCart:hover {
    background: #ff9400;
}

.buyNow {
    background: #232352;
    padding: 14px 40px;
}

.buyNow:hover {
    background: #3c3a63;
}

.cart-disable,
.buy-disable {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    padding: 14px 28px;
    cursor: not-allowed;
}

.cart-disable {
    color: #fff;
    background: #a1a1a1;
}

.buy-disable {
    color: #a1a1a1;
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.2);
}


/*==================================== Details & Reviews ===============================*/

.review-section {
    background: #fff;
}

.nav-tabs .nav-item {
    width: 350px;
    background: #fff;
    border-radius: 0;
    text-align: center;
}

.nav-tabs .nav-link:hover {
    border-color: transparent;
}

.nav-tabs .nav-item a {
    color: #000;
    padding: 15px;
}

.nav-tabs .nav-link.active {
    background: #80BA52;
    color: #fff;
}

.login-link {
    color: #f58509;
}

.login-link:hover {
    color: #f58509;
}

.reviews {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.user {
    margin-bottom: 7px;
}

.review-user {
    padding: 5px 10px;
    color: #000;
    /*background: #3c3a63;*/
    border-radius: 10px;
    opacity: 0.9;
    border-bottom: 1px solid #3c3a63;
}

.revire-footer {
    text-align: center;
    padding: 10px;
    font-weight: 500;
    color: #0099ff;
}

.write,
.description {
    padding: 15px;
}

.write-review {
    width: 100%;
    margin: 10px 0;
}

.submitBtn {
    font-size: 16px;
    padding: 8px 15px;
    background: #32a852;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.textarea {
    /*background: red;*/
    width: 100%;
    overflow: hidden;
    height: auto;
    border: none;
    padding: 10px;
    outline: 0;
    font-weight: 500;
}

.textarea:hover {
    cursor: default;
}

.textarea:focus {
    cursor: default;
    border: none;
}

.size-variation p {
    padding: 5px;
    font-size: 16px !important;
    font-weight: 500;
    margin: auto;
    cursor: pointer;
}

.size-variation p:hover {
    background: #000;
    color: white;
    padding: 5px 10px;
}

.product-selection h6 {
    font-size: 1rem !important;
    font-weight: 600;
    margin-left: 24px;
    margin-bottom: 20px;
}

/* slider */
.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev,
.next {
    background-color: rgba(10, 10, 10, .1);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 2px;
    width: 65px;
    margin: 0 -3px;
    background-color: #bbb;
    /* border-radius: 50%; */
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.product-selection {
    border-bottom: 1px solid black;
}

/** Recommended Product Carousel Design **/
#main-wrapper .recommended-product-carousel button.owl-prev {
    position: absolute;
    top:34%;
    left: -35px;
}

#main-wrapper .recommended-product-carousel button.owl-next {
    position: absolute;
    right: -35px;
    top:34%
}
#main-wrapper .recommended-product-carousel .single-product-slider {
    padding: 10px;
}

#main-wrapper .recommended-product-carousel .owl-theme .owl-dots .owl-dot span {
    width: 66px;
    height: 1px;
}

#main-wrapper .recommended-product-carousel span {
    color: white;
    background: black;
    padding: 1px;
}

#main-wrapper .recommended-product-carousel span.nav-icon {
    color: white;
    background: black;
    padding: 10px;
}

#main-wrapper .recommended-product-carousel button:focus {
    outline: 0px;
}

#main-wrapper .similar-products-title h6 {
    position: relative;
    font-size: 1.2rem !important;
    padding-bottom: 10px;
    font-weight: 400 !important;
}

#main-wrapper .similar-products-title h6:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 205px;
    background-color: #ddd;
    left: 42%;
    top: 30px;
}

#main-wrapper .recommended-product-carousel a,
#main-wrapper .recommended-product-carousel a:hover {
    text-decoration: none;
}

#main-wrapper .recommended-product-carousel .single-product-slider p,
#main-wrapper .recommended-product-carousel h6 {
    color: black;
    font-size: 1rem;
}

#main-wrapper .recommended-product-carousel p.product-code {
    color: #A0A0A0;
    margin-bottom: 10px!important;
}
.similar-products-title {
    margin-bottom: 25px;
}
.recommended-product-carousel .owl-item {
    background: transparent;
}
.imgbox.card__img {
    height: 390px;
   
}
.imgbox.card__img img{
    height: 100%;
}
.recommended-product-carousel.owl-theme .owl-dots .owl-dot span {
    width: 53px!important;
    height: 2px!important;
}
.recommended-product-carousel button.owl-dot.active span{
    /* background-color: #fff!important; */
}