/** Static CSS */

.notify-simple {
	background: #607d8b !important;
	color: #ddd;
	padding: 10px;
	text-align: center;
	padding-right: 20px;
}

.navbar-brand {
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
}
/** Bootstrap Overrides */


.offer-section {
	width: 100%;
	height: 450px;
	margin-bottom: 15px;
	background-size: cover;
    background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.offer-body {
	color: white;
	text-align: center;	
}

.footer-logo{
	text-align: center;
}

.social-body a {
	font-size:20px;
	width:36px;
	height:36px;
	line-height:36px;
	display:inline-block;
	text-align:center;
	border-radius:50%;
	box-shadow:0 0 0 1px rgba(255,255,255,0.4);
	margin:0 8px;
	color:#fff;
	opacity:0.75;
  }

.social-body a:hover {
	opacity:0.9;
}

/* sticky custom nav  start*/
.nav-sticky {         
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
/* .sticky + .content {
	padding-top: 60px;
} */

/* sticky custom nav end */